:root {
    --main-bg-color: #fecc00;
    --article-bg-color: white;
    --main-text-color : black;
}

body {
    background-color: var(--main-bg-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 4rem;
}

/*cacher ou afficher le formulaire*/
.hidden {
    display: none;
    /*opacity: 0;
    transition: opacity 0.3s ease-in-out; -->à faire : ajouter un effet à l'affichage du formulaire*/
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Trois colonnes égales */
    align-items: center;
    margin-bottom: 4rem;
}

.header__title {
    grid-column: 2;
}

h1,
h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0.5rem 0;
    line-height: 1.3rem;
    font-size: 0.9rem;
}


#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes de largeur égale */
    grid-gap: 2rem;
}

article {
    background-color: var(--article-bg-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
}

.movie__header {
    display: flex;
    justify-content: space-between;
}

.description {
    height: 100px;
}

.actors {
    height: 50px;
}


/**FORMULAIRE**/

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-top: 1px solid black;
}

form h3 {
    text-align: center;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li {
    margin-top: 1em;
}

form label {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 8px;
}

form input,
textarea {
    font: 0.95em sans-serif;
    width: 500px;
    box-sizing: border-box;
    padding: 5px;
}

form input:focus,
textarea:focus {
    border-color: #000;
}

form textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

/**BOUTONS**/


button {
    margin-left: 0.5em;
    margin-top: 20px;
    background-color: var(--main-bg-color);
    border: 1.5px solid var(--main-text-color);
    border-radius: 3px;
    padding: 0.8rem 1.8rem;
    font-weight: 600;
    font-size: 1rem;
    transition-duration: 0.4s;
}

button:hover {
    cursor: pointer;
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.addMovieButton {
    margin: 0;
    grid-column: 1;
    width: fit-content;
}


form .button {
    padding-left: 100px;
}

.deleteButton {
    background-color: #f44336;
    border: none;
    color: white;
    align-self: center;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.deleteButton:hover {
    cursor: pointer;
    background-color: rgb(64, 12, 12);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


@media screen and (max-width : 980px) {
    body {
        padding: 2rem;
    }

    #container {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        font-size: 2.2rem;
    }
    
    h2 {
        font-size: 1.2rem;
    }
    
    h3 {
        font-size: 1.3rem;
    }

    p {
        font-size: 0.8rem;
    }
}


@media screen and (max-width: 750px) {
    #container {
        grid-template-columns: 1fr;
    }

    header {
        display: flex;
        gap: 2rem;
    }

    .header__title {
        flex: 1;
    }

    h1, h2 {
        text-align: right;
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1rem;
    }
    
}